{% extends 'base.html.twig' %}

{% block title %}Hello SimulateurController!{% endblock %}

{% block body %}

<script type="application/javascript" src="{{ asset('build/three.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/ObjectLoader.js') }}"></script>

<script>

	var scene = new THREE.Scene();
	var camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
	var renderer = new THREE.WebGLRenderer({ antilias: true });
	scene.add( cube );


	//box
	var geometry = new THREE.BoxGeometry( 1, 1, 1 );
	var material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: false });
	var cube = new THREE.Mesh( geometry, material );
	//scene.add( cube );

	camera.position.z = 3;

	renderer.setSize( window.innerWidth, window.innerHeight );
	document.body.appendChild( renderer.domElement );

	//resize
	window.addEventListener( 'resize', function() {
		var width = window.innerWidth;
		var height = window.innerHeight;
		renderer.setSize(width, height);
		camera.aspect = width / height;
		camera.updateProjectionMatrix( );
	} );

	// instantiate a loader
	var loader = new THREE.ObjectLoader();
	loader.load(
		"{{ asset('model/untitled.obj') }}",

		function( object ) {
			object.position.z = 3;
			scene.add( object );
		}
	);

	var update = function () {
		cube.rotation.x += 0.01;
		cube.rotation.y += 0.01;
	};

	var render = function() {
		renderer.render( scene, camera );
	};

	var GameLoop = function() {
		requestAnimationFrame( GameLoop );

		update();
		render();
	};

	GameLoop();
</script>
{% endblock %}
