<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}Simulateur{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	{% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
